<div style="height: 100vh;" class="bg-light">
  <nav class="navbar navbar-light bg-white mb-3">
    <div class="navbar-brand " (click)="goToWatchlist()"><i class="fas fa-chart-line"></i>   Ticker Tracker</div>
 
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  id="search" name="search" onfocus="this.value=''" [(ngModel)]="searchItem">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchClick()">Search</button>
    </form>
  </nav>
  <div style="height: 75%;"  class="min-100">
    <router-outlet></router-outlet>
  </div>
  <nav style="padding: 0;" class="navbar static-bottom navbar-dark bg-primary justify-content-around">
    <div>
      <a class="navbar-brand" href="#">Ticker Tracker</a>
      <p class="text-white">&copy;Copyright 2019</p>
    </div>  
    <div class="text-white">
      <h3>UAGC</h3>
      <p class="mb-1">1 University of Arkansas</p>
      <p class="mb-1">Fayetteville, AR 72704</p>
    </div>  
  </nav> 
</div>